<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weshare.groupfour.derek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".myGoodsOrders.MyGoodsActivity"
            />
        <activity android:name=".goods.MyLikeGoodsActivity" />
        <activity
            android:name=".goods.GoodsCartActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".insCourse.InsCourseDetailActivity"
            android:label="@string/title_activity_ins_course_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginFakeActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity android:name=".member.MyWalletActivity" />
        <activity
            android:name=".calendar.CalendarActivity" />
        <activity android:name=".courseType.CourseCategoryActivity" />
        <activity android:name=".insCourse.MyLikeCourseActivity" />
        <activity android:name=".myCourseOrders.MyCourseActivity" />
        <activity android:name=".insCourse.InsCourseBrowseActivity" />
        <activity android:name=".goods.GoodsDetailActivity" />
        <activity android:name=".goods.GoodsBrowseActivity" />
        <activity
            android:name=".courseReservation.CourseReservationActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>